/*  generic styles     */
@font-face{
    font-family: 'Releway';
    src: url('../fonts/Raleway-Regular.ttf');
}
:root{

}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Releway', sans-serif;
}
.header-container{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
header{
    background-image: url("../img/bg.png");
}
.b-left{
    width: 200px;
    height: 50px;
    background-color: white;
    margin-top: -25px;
    margin-left: -50px;
    transform: rotate(20deg);
}
.b-right{
    width: 200px;
    height: 50px;
    background-color: white;
    margin-top: -50px;
    margin-left: calc(100% - 150px);
    transform: rotate(-20deg);
}
header p{
    padding-top: 30px;
    padding-bottom: 30px;
}
.btn{
    height: 45px;
    min-width: 90px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 25px;
    padding: 5px;
    user-select: none;
    outline: none;
}
.btn-white,
.btn:hover{
    background-color: white;
    color: black;
}
section{
    width: 100%;
    min-height: 400px;
    margin-top: 80px;
    text-align: center;
    padding: 10px;
}
.bg{
    background-image: url("../img/bg.png");
    color: white;
}
.bg-gray{
    background-color: #fafafa;
}
.bg-red{
    background-color: tomato;
}
.bg-blue{
    background-color: #3767B1;
}
.list ul {
    display: inline-flex;
    flex-direction: column;
    list-style: square;
  }
  
.list ul li {
    text-align: left;
}